:root {
    --main-color: #0288D1;
  }
  /* Coolors Exported Palette - https://coolors.co/2e5266-6e8898-9fb1bc-d3d0cb-e2c044 */

/* SCSS HEX */
:root {
  --color-fondo: #abe0fff9; 
  --color-primario: #0288D1;   
  --color-primario-fondo: #82d3ff;   
  --color-secundario: #01579B;      
  --color-oscuro: #121212;     
  --color-blanco: #E1F5FE;
  --color-sombra: #26ff99;
}