body{
    background-color: var(--color-fondo);
}
h1{
    
    
}
h2{

}
h3{

}
p{
    
}
#nav p{
    
    background-color: var(--color-fondo);
    transition: 0.5s;
    color: var( --color-secundario);
    
}
#nav li{
    width: fit-content;
}
#nav p:hover{
    color:red;
    transform: scale(1.1);
    
}
#log{
    background-color: var(--color-blanco);
    transition: 0.5s;
     border: 2px solid var(--color-primario) ;
     border-radius: 10px 10px 10px 10px;
     
   

}
button a:hover{
    text-decoration: none;
}
#log:hover{
    transform: scale(1.15);
    
}
#portada{
    border-radius: 10px 10px 10px 10px;
    margin-right: 30%;
}
section h3{
background-color: var(--color-primario-fondo);
}
#tabla{
    width: 95%;
    margin: auto;
    margin-bottom: 50px;
    border-collapse: separate;
    border-radius: 30px;
    border: 1px solid black;
}
#rounded{
    border-top-left-radius: 30px;
}
#rounded2{
    border-top-right-radius: 30px;
}
#rounded3{
    border-bottom-left-radius: 30px;
}
#rounded4{
    border-bottom-right-radius: 30px;
}
#tabla td,th{
    border: 0px solid black;
}
